<!DOCTYPE html>
<html>
  <head>
    <title>housing</title>
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
  </head>
  <body>
    <header>
      <h1 class="logo"><a href="/" title="Home">A longer table</a></h1>

      {{ partial "navigation.html" }}
    </header>
    <main role="main" class="container">
      <div class="title">
        <h2>{{ .Title }}</h2>
      </div>
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    <footer>
      <div class="container">
        We should have some disclaimer content and some contact information in this footer.
      </div>
    </footer>
  </body>
</html>
