  <footer>
    <div class="container">
      <div class="toggle-panel">
        <p>
          Have you found any information on this page which is out of date or incorrect? Help us to keep the site accurate by <a href="#" class="toggler">suggesting a change</a>.
        </p>
        <div class="toggled">
          <form name="content-feedback" netlify-honeypot="full-name" action="thanks" netlify>
            <p class="honey">
              <label>Your full name: <input name="full-name"></label>
            </p>
            <p>
              <label for="email">Your email<small>Optional. Perhaps getting this right will need a conversation?</small></label>
              <input type="email" name="email" id="email">
            </p>
            <p>
              <label for="message">Comment<small>Let us know what was wrong on this page and how to fix it.</small></label>
              <textarea name="message" id="message"></textarea>
            </p>
            <p>
              <button type="submit" class="btn">Submit suggestion</button>
            </p>
          </form>
        </div>
      </div>
      <p>
        This site is not affiliated with any of the organizations or services that it describes. Information here is compiled and maintained by volunteers and no liability is accepted for its use.
      </p>
    </div>
  </footer>
