<ul class="navigation">
  <li><a class="housing" href="/housing">Housing</a></li>
  <li><a class="medical" href="/medical">Medical</a></li>
  <li><a class="support" href="/support">Support services</a></li>
</ul>
