<h3 class="location-listing-title">{{ item.name }}</h3>
<dl>
{% if item.phone %}<dt>Phone</dt><dd>{{ item.phone }}</dd>{% endif %}
{% if item.address %}<dt>Address</dt><dd>{{ item.address }}</dd>{% endif %}
{% if item.url %}<dt>Website</dt><dd><a href="{{ item.url }}" target="_BLANK" rel="noopener">{{ item.url }}</a></dd>{% endif %}
{% if item.description %}<dt>Notes</dt><dd>{{ item.description }}</dd>{% endif %}
</dl>
