---
title: Medical
layout: default
---

<p>
  This unofficial site gathers resources for seeking medical assistance in the Santa Clara district.
</p>

<ul class="listing">
{%- for place in medical -%}
  <li>
    <a href="{{ place.name | slug }}">{{ place.name }}</a>
  </li>
{%- endfor -%}
</ul>
