---
pagination:
  data: medical
  size: 1
  alias: place
permalink: medical/{{ place.name | slug }}/index.html
layout: default
title: Medical
---

<h3>{{ place.name }}</h3>
<ul>
  {% if place.phone %}<li>Phone: {{ place.phone }}</li>{% endif %}
  {% if place.address %}<li>Address: {{ place.address }}</li>{% endif %}
  {% if place.url %}<li><a href="{{ place.url }}" target="_BLANK" rel="noopener">Website</a></li>{% endif %}
  {% if place.description %}<div>
  {{ place.description }}
  </div>{% endif %}
</ul>

