---
title: Support
layout: default
---

<p>
  This unofficial site gathers resources for seeking support in the Santa Clara district.
</p>



{%- for item in support -%}
  {% include "place-details.njk" %}
{%- endfor -%}
