---
title: Food and clothing
layout: default
---

{% set food = foodAndClothing | where("type=food")%}
{% if food.length %}
<h2>Food</h2>
{%- for item in food -%}
  {% include "place-details.njk" %}
{%- endfor -%}
{% endif %}

{% set clothing = foodAndClothing | where("type=clothing")%}
{% if clothing.length %}
<h2>Clothing</h2>
{%- for item in clothing -%}
  {% include "place-details.njk" %}
{%- endfor -%}
{% endif %}
