// Breakpoints
$bp-narrow: "(min-width: 500px)";
$bp-mid: "(min-width: 600px)";
$bp-wide: "(min-width: 1000px)";

// Colours
$page-color: #fff;
$text-color: #000;
$primary-dark-color: #44365e;
$accent-color: #3366cc;
$faint-accent-color: mix($accent-color, $page-color, 15%);
$dull-accent-color: mix($accent-color, $page-color, 50%);
