---
title: Affordable housing management companies
layout: default
---

<div class="listing">
  <ul>
    <li>
      <a href="http://www.eahhousing.org]" target="_BLANK" rel="noopener">Bridge Housing</a>
    </li>
    <li>
      <a href="http://charitieshousing.org" target="_BLANK" rel="noopener">Charities Housing Housing</a>
    </li>
    <li>
      <a href="http://www.eahhousing.org" target="_BLANK" rel="noopener">EAH Housing</a>
    </li>
    <li>
      <a href="http://www.edenhousing.org" target="_BLANK" rel="noopener">Eden Housing</a>
    </li>
    <li>
      <a href="https://www.midpen-housing.org" target="_BLANK" rel="noopener">MidPen Housing</a>
      <p>Newly open waitlists updated on Mondays.</p>
    </li>
  </ul>
</div>
