---
title: Housing
layout: default
---
<p>
  A collection of resources to help with finding subsidized or affordable housing.
</p>

{# <h3>Low income housing</h3>
<p>
  A list of <a href="affordable-housing">affordable housing</a> options in the San Jose area.
</p> #}

<h3>Shelters</h3>
<p>
  A list of <a href="shelters">shelters</a> in Santa Clara county.
</p>

<h3>Affordable housing management companies</h3>
<p>
  A list of <a href="companies">affordable housing management companies</a> who manage different properties in Santa Clara county.
</p>

