---
title: Housing
layout: default
---
<p>
  A collection of resources to help with finding subsidized or affordable housing.
</p>

{# <h3>Low income housing</h3>
<p>
  A list of <a href="affordable-housing">affordable housing</a> options in the San Jose area.
</p> #}

<h3>Shelters</h3>
<p>
  A list of <a href="shelters">shelters</a> in Santa Clara county.
</p>

<h3>Affordable housing management companies</h3>
<p>
  The following companies manage different properties in Santa Clara county.
</p>
<div class="listing">
  <ul>
    <li>
      <a href="http://www.eahhousing.org]" target="_BLANK" rel="noopener">Bridge Housing</a>
    </li>
    <li>
      <a href="http://charitieshousing.org" target="_BLANK" rel="noopener">Charities Housing Housing</a>
    </li>
    <li>
      <a href="http://www.eahhousing.org" target="_BLANK" rel="noopener">EAH Housing</a>
    </li>
    <li>
      <a href="http://www.edenhousing.org" target="_BLANK" rel="noopener">Eden Housing</a>
    </li>
    <li>
      <a href="https://www.midpen-housing.org" target="_BLANK" rel="noopener">MidPen Housing</a>
      <p>Newly open waitlists updated on Mondays.</p>
    </li>
  </ul>
</div>

