---
title: Housing
layout: default
---
<p>
  A collection of resources to help with finding subsidized or affordable housing.
</p>
<ul>
  <li><a href="affordable-housing">Affordable housing in San Jose</a></li>
  <li><a href="shelters">Shelters in the Santa Clara area</a></li>
  <li><a href="companies">Affordable housing management companies</a></li>
</ul>

