---
title: Shelters
layout: default
---

<ul class="listing">
{%- for place in housing -%}
  {% if place.type == "shelter" %}
  <li>
    <a href="{{ place.name | slug }}">{{ place.name }}</a>
  </li>
  {% endif %}
{%- endfor -%}
</ul>

