---
title: Employment
layout: default
---

<p>
  This unofficial site gathers resources for seeking employment in the Santa Clara district.
</p>

<ul class="listing">
{%- for place in employment -%}
  <li>
    <a href="{{ place.name | slug }}">{{ place.name }}</a>
  </li>
{%- endfor -%}
</ul>
