---
title: A Longer Table
layout: default
---

<p>
  This unofficial site gathers resources for seeking housing in the Santa Clara district.
</p>

<h2>Emergency Assistance</h2>

<ul>
  <li>
    <a href="https://www.csacares.org" target="_BLANK" rel="noopener">CSA</a>
  </li>
  <li>
    <a href="https://lifemoves.org" target="_BLANK" rel="noopener">LifeMoves (formerly known as Inn Vision)</a>
  </li>
  <li>
    <a href="http://sacredheartcs.org" target="_BLANK" rel="noopener">Sacred Heart Community Service</a>
  </li>
  <li>
    <a href="http://stjosephsgilroy.org" target="_BLANK" rel="noopener">St Joseph&#39;s Family Center</a>
  </li>
  <li>
    <a href="https://svcommunityservices.org" target="_BLANK" rel="noopener">Sunnyvale Community Services</a>
  </li>
  <li>
    <a href="https://www.salvationarmyusa.org" target="_BLANK" rel="noopener">The Salvation Army</a>
  </li>
  <li>
    <a href="https://www.wvcommunityservices.org" target="_BLANK" rel="noopener">West Valley Community Services</a>
  </li>
</ul>
